<h1>Type of food</h1>
<h2>What type of food would you like to cook? Let's select the one you like</h2>


<%= @cuisines.each do |cuisine| %>
<%= cuisine.name %>
<% end %>

<div>
  <div class="small-cuisine-card-image">
      <img src="https://blog.radissonblu.com/wp-content/uploads/2016/01/shutterstock_657175693.jpg" alt="Lebanese cuisine", class="small-cuisine-card-image">
      <div class="small-cuisine-card-add-sign">
      </div>
  </div>
    <p class="small-cuisine-card-name">lebanese</p>
</div>
