<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2 class="btn btn-yellow">hello</h2>
<h2 class="btn btn-outline-mustard">hello</h2>
<h2 class="btn btn-mustard btn-lg">hello</h2>
<h2 class="btn btn-outline-yellow btn-sm">hello</h2>
