<!-- BANNER -->
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(http://www.joinenjoy.com.ph/wp-content/uploads/2018/07/Insadong-Bimbibap-1280x580.jpg)">

  <div class="container">
    <!-- TITLE -->
    <div class="row col col-lg-12">
      <h1 class="header-banner-home">What’s Poppin?</h1>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col col-lg-6">
        <!-- TEXT -->
        <div class="text-banner-home">Pop-up restaurant directed business
        app that  helps you analyse data
        step by step where to <strong id="text-banner-home-bold">poppin!</strong>
        Ready for the journey?
        </div>
        <!-- MAP WITH ICON -->
        <div>
          <%= show_svg('home-map.svg') %>
        </div>
      </div>
      <!-- CARD -->
      <div class="home-rounded-card col col-lg-6">
        <!-- CARD MUSTARD LINE-->
        <div class="rectangle-mustard-card"></div>
        <!-- CARD CONTENT-->
        <div class="px-4 py-5">
          <div class="bg-light rounded rounded-pill">
            <div class="input-group">
              <div class="input-group-prepend">
                <i class="fas fa-search text-secondary"></i>
              </div>
            </div>
          <button class="btn btn-outline-mustard btn-lg">
            <div class="mx-3">Explore</div>
          </button>
          </div>
        </div>
        <!-- <div class="home-rounded-content p-5">
          <div class="">
            <div class="home-rounded-card-header p-2">City</div>
            <form class="form-inline">
              <i class="fas fa-search" aria-hidden="true"></i>
              <input class="form-control lg-searchbar ml-3 w-75" type="text" placeholder="What city would you like to analyse?"
                aria-label="Search">
            </form>
          </div>
          <div class="">
            <div class="home-rounded-card-header p-2">Season</div>

          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>



<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2 class="btn btn-yellow">hello</h2>
<h2 class="btn btn-outline-mustard">hello</h2>
<h2 class="btn btn-mustard btn-lg">hello</h2>
<h2 class="btn btn-outline-yellow btn-sm">hello</h2>
 -->

