/*button 1 - btn-mustard*/
.btn-mustard{
  color: gray;
  border-radius: 50px;
}

.btn-mustard:hover{
  color: white;
  background-color: $mustard;
}

/*button 2 - btn-yellow*/
.btn-yellow{
  color: white;
  border-radius: 50px;
  background-color: $yellow;
}

.btn-yellow:hover{
  color: white;
  background-color: $mustard;
}

/*button 3 - btn-outline-yellow*/
.btn-outline-yellow{
  color: $yellow;
  border-radius: 50px;
  background-color: white;
  border-color: $yellow;
}

.btn-outline-yellow:hover{
  color: white;
  background-color: $yellow;
}

/*button 4 - btn-outline-mustard*/
.btn-outline-mustard{
  color: $mustard;
  border-radius: 50px;
  background-color: white;
  border-color: $mustard;
}

.btn-outline-mustard:hover{
  color: white;
  background-color: $mustard;
}

/*ICONS button - small cuisine card*/
.small-cuisine-card-add-sign{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 121px;
  top: -12px;
  background-image:url(plus-sign.svg);
}

.small-cuisine-card-add-sign:hover{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 121px;
  top: -12px;
  background-image:url(plus-sign-hover.svg);
}
