/*button 1 - btn-mustard*/
.btn-mustard{
  color: gray;
  border-radius: 50px;
}

.btn-mustard:hover, .btn-mustard-selected {
  color: white;
  background-color: $mustard;
}

/*button 2 - btn-yellow*/
.btn-yellow{
  color: white;
  border-radius: 50px;
  background-color: $yellow;
}

.btn-position-absolute{
  position: absolute;
  bottom: 12%;
  left: 78%;
  padding: 10px 30px;
  margin: 0px 0px;
}

.btn-position-sticky{
  position: fixed;
  bottom: 15%;
  left: 60%;
  padding: 10px 58px;
  z-index: 9999;
}

.btn-yellow-smaller{
  font-size: 12px;
  line-height: 1.4;
  margin-right: 45px;
}

.btn-yellow:hover{
  color: white;
  background-color: $mustard;
}

.btn-lg-home{
  width:200px;
  height: 60px;
  margin-top: 40px;
}

/*button 3 - btn-outline-yellow*/
.btn-outline-yellow{
  color: $yellow;
  border-radius: 50px;
  background-color: white;
  border-color: $yellow;
}

.btn-outline-yellow:hover{
  color: white;
  background-color: $yellow;
}

/*button 4 - btn-outline-mustard*/
.btn-outline-mustard{
  color: $mustard;
  border-radius: 50px;
  background-color: white;
  border-color: $mustard;
  text-decoration: none;
}

.btn-outline-mustard:hover{
  color: white;
  background-color: $mustard;
}

.season-toggle-button{
  margin: 0px !important;
  background-color: #e8a323;
  border: 0px;
  border-radius: 0px;
}

/*ICONS button - small cuisine card*/
.small-cuisine-card-add-sign{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 121px;
  top: -12px;

}

.small-cuisine-card-add-sign:hover{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 121px;
  top: -12px;
  background-image:url(plus-sign-hover.svg);
}
