.img-square-card{
  border-radius: 8px;
  background: white;
}

.img-long-card{
  flex-grow: 1;
  border-radius: 8px;
  background: white;
  margin: 2px 2px 0px 2px;
}

.lg-container-card{
  background: white;
}

.rectangle-white-bar {
  height: 50px;
  width: 100%;
  background-color: white;
  margin-left: 2px;
  margin-right: 0px;
}

.css-behaving-of-scrowling{
  margin: 0px;
  padding: 0px;
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

// <------------------------------------------ HOME PAGE CARD
.home-rounded-card{
  padding: 0px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
}

.rectangle-mustard-card {
  height: 30px;
  width: 100%;
  background-color: $mustard;
  border-radius: 8px 8px 0px 0px;
}

.home-rounded-content {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.home-rounded-card-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  padding: 20px 20px;
  color: #000000;
}

.results-rounded-card-header{
  font-family: Poppins;
  font-style: small;
  font-weight: 800;
  font-size: 18px;
  line-height: 31px;
  padding: 15px 15px;
  color: #000000;
}


.color-disabled{
 color: gray;
}


.color-enabled{
  color: black
}

.home-rounded-card button{
  margin: 0px 120px;
}

//<------------------------------------------ FAV PAGE SMALL CARD

.hover-darker-cuisine-card {
  cursor: pointer;
  position: relative;
  background-color: black;
  border-radius: 8px;

  .small-cuisine-card-image {
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.9;
  }

  &.selected-card {
    .small-cuisine-card-image {
      opacity: 0.5;
    }
  }

  &:hover {
    .small-cuisine-card-image {
      opacity: 0.5;
    }

    &:not(.just-selected-card) {
      .small-cuisine-card-select-sign {
        background-image: asset-url('deleteicon.svg');
        width: 40px;
        height: 40px;
      }
    }
  }
}

.small-cuisine-card-select-sign {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 85%;
  top: -5%;
  background-image: asset-url('selecticon.svg');
}

.small-cuisine-card-name-fav-page {
  font-family: Poppins;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: white;
  position: absolute;
  top: 80%;
  right: 20px;
}

//<------------------------------------------ RESULTS PAGE SMALL CARD
.small-cuisine-card-container {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.small-cuisine-card{
  margin:5px 0px;
}

.small-cuisine-card-add-sign{
  width: 30px;
  height: 30px;
  background-image:url(../images/plus-sign.svg);
}

.small-cuisine-card-add-sign:hover{
  width: 36px;
  height: 36px;
  background-image: url(app/assets/images/plus-sign-hover.svg);
}

.small-cuisine-card-find-location{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #A5A5A5;
}

.small-cuisine-card-find-location:hover{
  color: black;
  text-decoration: none;
}

.border-bottom-line-add-card{
  margin-bottom: 10px;
  border-bottom: 0.3px solid #F4F4F4;
  flex-grow: 1;
  padding-bottom: 15px;
}


.small-cuisine-card-name-gray{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #A5A5A5;
}

.small-cuisine-card-name-gray:hover{
  color: black;
  text-decoration: none;
}

.small-cuisine-card-name-white{
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 0px;
}


//<------------------------------------------ LONG CARD
.cuisine-comparison-horizontal-card{
  display: flex;
}

.cuisine-comparison-horizontal-card-image{
  width: 145px;
  height: 145px;
  position: relative;
  object-fit: cover;
  border-right: solid;
  border-right-color: #ffcc33;
  border-right-width: 10px;
}

.cuisine-comparison-horizontal-card-text-buttons{
padding: 22px;
}

.cuisine-comparison-horizontal-card-button{
  margin: 0px 10px;
}

.cuisine-comparison-horizontal-card-button_array{
  margin: 23px 0px 0px 0px;
}

.cuisine-comparison-horizontal-card-button_delete {
  display: block;
  width: 30px;
  height: 30px;
  background-image: asset-url('deleteicon_gray.svg');
}

.cuisine-comparison-horizontal-card-button_delete:hover{
  background-image: asset-url('deleteicon_black.svg');
}

// <------------------------------------------ LOGIN SIGNUP PAGE CARD
.loginsignup-rounded-card{
  border-radius: 8px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 50px;
  padding:0;
}

.loginsignup-rounded-card-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  padding-bottom: 30px;
  color: #000000;
}

.loginsignup-rounded-card-text-buttons{
  padding-left: 50px;
  padding-right: 50px;
}

// < ------------------------------------------- RESULTS PAGE CARD
.cuisine-card-name-gray{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 8px 0px 8px 0px;
  color: gray;
  border-bottom: 1px solid red;
}

.card-product {
  // overflow: hidden;
  height: 100px;
  background: white;
  border-radius: 8px;
  // display: flex;
  // align-items: center;
  .border-right-line-add-card{
    border-right: 0.3px solid #F4F4F4;
    padding-right: 15px;
  }
}

.card-product img {
  border-radius:  8px 0px 0px 8px;
  height: 100px ;
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product-infos {
padding-left:16px;
}

.icon-color-mustard{
  color:#ffce3c;
  text-decoration:none;
}

.icon-color-gray{
  color:gray;
  text-decoration:none;
}

.icon-color-gray:hover{
  color:black;
  text-decoration:none;
}

.card-product-metric-title{
  border-bottom: 1px dotted gray;
  font-size: 12px;
  color:gray;
  text-decoration: none;
  cursor: help;
}
// <--------------------------------------- MAP PAGE CARD

.card-product-map {
  overflow: hidden;
  height: 145px;
  background: white;
  border-radius: 8px;
  width: 100%;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:5px 0px;
}

.card-product-map img {
  height: 100%;
  width: 145px;
  object-fit: cover;
}

.card-product-map h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-map p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos-map {
  // padding-left:5px;
  padding-right: 60px;
  margin-left: 0px;
}

.icon-color-mustard-map{
  color:#ffce3c;
  text-decoration:none;
}

.icon-color-gray-map{
  color:gray;
  text-decoration:none;
}

.icon-color-gray-map:hover{
  color:black;
  text-decoration:none;
}

.map-rounded-card-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
