.img-square-card{
  border-radius: 8px;
  background: white;
}

.img-long-card{
  flex-grow: 1;
  border-radius: 8px;
  background: white;
  margin: 2px 2px 0px 2px;
}

.lg-container-card{
  background: white;
  flex-grow: 1;
}

// <------------------------------------------ HOME PAGE CARD
.home-rounded-card{
  padding: 0px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
}

.rectangle-mustard-card {
  height: 30px;
  width: 100%;
  background-color: $mustard;
  border-radius: 8px 8px 0px 0px;
}


.home-rounded-content {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.home-rounded-card-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  padding: 20px 20px;
  color: #000000;
}

.color-disabled{
 color: gray;
}


.color-enabled{
  color: black
}

.home-rounded-card button{
  margin: 0px 120px;
}

//<------------------------------------------ SMALL CARD
.small-cuisine-card-container {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.small-cuisine-card{
  margin:5px 0px;
}

.hover-darker-cuisine-card img:hover{
 background:black;
 opacity: 0.5;
}

.small-cuisine-card-image{
  width: 145px;
  height: 145px;
  position: relative;
  object-fit: cover;
  border-radius: 8px;
  background: black;
}

.small-cuisine-card-select-sign{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 121px;
  top: -12px;
  background-image:url(selecticon.svg);
}

.small-cuisine-card-add-sign{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 121px;
  top: -12px;
  background-image:url(selecticon.svg);

}

// .small-cuisine-card-add-sign:hover{
//   position: absolute;
//   width: 36px;
//   height: 36px;
//   left: 121px;
//   top: -12px;
//   background-image:url(plus-sign-hover.svg);
// }

.small-cuisine-card-name-gray{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 8px 0px;
  color: #A5A5A5;
}

.small-cuisine-card-name-gray:hover{
  color: black;
  text-decoration: none;
}

.small-cuisine-card-name-white{
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 0px;
}

//<------------------------------------------ LONG CARD
.cuisine-comparison-horizontal-card{
  display: flex;
}

.cuisine-comparison-horizontal-card-image{
  width: 145px;
  height: 145px;
  position: relative;
  object-fit: cover;
  border-right: solid;
  border-right-color: #ffcc33;
  border-right-width: 10px;
}

.cuisine-comparison-horizontal-card-text-buttons{
padding: 22px;
}

.cuisine-comparison-horizontal-card-button{
  margin: 0px 10px;
}

.cuisine-comparison-horizontal-card-button_array{
  margin: 23px 0px 0px 0px;
}

// <------------------------------------------ LOGIN SIGNUP PAGE CARD
.loginsignup-rounded-card{
  border-radius: 8px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 50px;
  padding:0;
}

.loginsignup-rounded-card-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  padding-bottom: 30px;
  color: #000000;
}

.loginsignup-rounded-card-text-buttons{
padding-left: 50px;
padding-right: 50px;
}

// card in result page
.card-product {
  overflow: hidden;
  height: 145px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin:5px 0px;
}

.card-product img {
  height: 100%;
  width: 145px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
padding-left:16px;
}

.icon-color-mustard{
  color:#ffce3c;
  text-decoration:none;
}

.icon-color-gray{
  color:gray;
  text-decoration:none;
}

.icon-color-gray:hover{
  color:black;
  text-decoration:none;
}

