.navbar-poppin {
  justify-content: space-between;
  background: $yellow;
  height: 70px;
}

.navbar-poppin img {
  justify-content: left;
  height: 40px;
  margin: 10px;
}

.nav-link-font {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  align-items: center;
  color: #FFFFFF;
  margin: 7px 10px;
  border-bottom: 3px solid $yellow;

}

.nav-link-font:hover{
  color: white;
  border-bottom: 3px solid $mustard;
  text-decoration: none;
}

.nav-links{
  display: flex;
  height: 35px;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0px 0px 0px 15px;
}
