//  <------------------------------------------ REUSABLE PAGES CLASS FOR 1st TEXT DIV
// PUT A DIV 👌
.same-margin-top-text{
  margin: 50px 0px;
}

// <------------------------------------------ REUSABLE PAGES TOP TEXT
.top-header-page-black{
  color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
}

.top-text-page-black{
  color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 20px 0px;
}

#text-page-bold{
  font-weight: 900;
}
